*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;

}
.header{
    margin: -9.6px 20px -2px -2px;
    width: 100.15%;
    height: 101vh;
    background-image:url("image/test7.jpg");
    background-size: cover;
    background-position: center;
}
nav ul li {
    position: relative;
    top: 40px;
    width: 100px;
    height: 45px;
    list-style: none;
    margin-left: 1280px;
    margin-top: 8px;
    padding: 20px 20px 20px 100px;
    background: linear-gradient(rgba(244, 240, 255, 0.89), rgb(185, 185, 185));
    border-radius:2mm ;
}

.navbar{
    padding-top: 120px;
}
.navbar span{
    padding-right: 12px;
    padding-top: 20px;
}
.navbar a{
    width: auto;
    color: black;
    text-decoration: none;
    /*align-self: center;*/
    /*left: -20px;*/
    /*padding-left: 20px;*/

}


nav ul li img{
    padding-top:-10px;
}
.user-p{
    position: relative;
    top: 9px;
    left: 5px;

    width: 40px
}

.button1{
    position: absolute;
    top: 12px;
    left: 70px;

}
.fish-p{
    position: relative;
    top: -40px;
    padding-bottom: 25px;
    padding-left:70px ;
    width: 40px
}
.button2{
    position: absolute;
    top: 35px;
    /*left: 70px;*/
}
.schedule-time-p{
    position: relative;
    top: -36px;
    padding-bottom: 25px;
    padding-left:70px ;
    width: 40px
}
.button3{
    position: relative;
    top: 15px;
}
.exit-p{
    position: relative;
    top: -35px;
    left: -25px;
    padding-bottom: 25%;
    padding-left:70px ;
    width: 40px
}

.button4{
    position: relative;
    top: 10px;
    left: 30px;
}
.etelaat{
    width: 1030px;
    height: 600px;
    background: linear-gradient(rgba(244, 240, 255, 0.89), rgb(187, 187, 187));
    position: absolute;
    top: 60px;
    border-radius: 3mm;
    left: 200px;
}